* {
  box-sizing: border-box;
}

/*Body*/

body {
  height: 100vh;
  width: 100%;
}

/*Header*/

header {
  background-color: #1F1F3D;
  height: 100%
  width: 100%;
}

h1 {
  color: #FFFFFF;
  display: flex;
}

span {
  color: #FFC30C;
}

.header__image {
  background-color: #C8D3D9;
  height: 30px;
  width: 30px;
}

.header__input__search__container {
  display: flex;
  float: right;
  justify-content: space-between;
}

/*Images*/

.svg {
  height: 20px;
  width: 20px;
}

/*Aside*/

aside {
  background-color: #597A8B;
  float: left;
  height: 100vh;
  width: 30%;
}

label {
  color: #FFFFFF;
  display: block;
}

button {
  background-color: #1F1F3D;
  border: none;
  border-radius: 2px;
  color: #FFFFFF;
  display: block;
  font-size: 1em;
  height: 30px;
  margin: 15px;
  width: 90%
}

button:hover {
  background-color: #F04924;
}

.bottom__button {
  border-top: 2px solid red;
}

/*Main*/

main {
  display: flex;
}

/*Article*/

article {
  background-color: #FFFFFF;
  border: 2px solid #C8D3D9;
  margin: 10px;
}

h2 {
  border-bottom: 2px solid #C8D3D9;
  padding-bottom: 10px;
  padding-left: 10px;
}

.article__image {
  display: inline;
}

p {
  display: inline;
}

.article__div__one,
.article__div__two,
.article__div__three {
  margin: 30px 0px;
}

.article__section__footer {
  border-top: 2px solid #C8D3D9;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.article__section__urgent,
.article__section__delete {
  display: inline;
}

.article__image__urgent,
.article__image__delete {
  display: block;
  margin: auto;
}

.article__section__p__urgent,
.article__section__p__delete {
  display: block;
  margin: 0;
}